@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a simple application that uses an SQL database to store the best dad jokes and only allows registered users to do so.</p>
