@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Dad Jokes Application</h1>
    <p>Here you will find the most elaborate jokes known to man. </p>
</div>
